{% extends "LPAapp/base.html" %}
{% load bootstrap3 %}

{% block title %}
<title>添加人员</title>
{% endblock title %}

{% block content %}
<div class="container" style="margin-top:80px;margin-bottom:40px;">
    <div class="page-header" style="margin-bottom:20px">
        <h2 align="center">{{ quarter }}</h2>
        <h4><a href="{% url 'LPAapp:persons' %}">所有人员</a> - 添加人员</h4>
    </div>
    <div>
        <form action="{% url 'LPAapp:new_person' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
              <button name="submit" class="btn btn-primary">添加</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}
